<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments from tutorial</title>
</head>
<body>
    <!--
    {% extends ... %} works like inheritance from classes in python
    {% block content %}{% endblock %} makes a section to replace by child
    {% ... %} is for logic like in python
    {{ ... }} is for accessing data
    {% endfor %} is for ending logic
    {{ post.date_posted|date:'F d, Y' }} date formatting https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#date
    {{ form.as_p }} render as paragraphs
    -->
</body>
</html>